
<h2><%= @ruleset.name %></h2>

<%= link_to "Play", play_path(@ruleset) %>
<%= link_to "Edit", edit_ruleset_path(@ruleset) if signed_in? && @ruleset.belongs_to?(current_user) %>

<h3>Starters</h3>
<ul>
  <% @ruleset.starters.each do |stage| %>
      <li><%= stage.name %></li>
  <% end %>
</ul>

<h3>Counterpicks</h3>
<ul>
  <% @ruleset.counterpicks.each do |stage| %>
    <li><%= stage.name %></li>
  <% end %>
</ul>
